RewriteEngine On
ErrorDocument 404 /404.php


RewriteRule ^contact contact.php [L]
RewriteRule ^prix pricing.php [L]
RewriteRule ^produit services.php [L]
RewriteRule ^inscription inscription.php [L]
RewriteRule ^lol test.html [L]